
main {
  background-color: #2b2f37;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding: 2em; */
  height: 100em;
}

.App-link {
  color: #61dafb;
}
h1 { 
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#searchbar { 
  display: flex;
  justify-content: center;
  align-items: center;
}
#holder { 
  display: flex;
  justify-content: center;
  align-items: center;
}
#holder > div { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
#team { 
  display: flex; 
  flex-flow: row nowrap; 
  justify-content: flex-end;
  align-items: flex-end;
}
.teamSlot { 
  border: 1px solid white; 
  border-radius: 5%; 
  width: 3em; 
  height: 3em;
  margin: 1em;
}